.menEx{
    display: none;
}
#login{
    display: none;
}
#btnIniciar{
    cursor: pointer;
}
.menNo{
    display: none;
}
/* FORMULARIO */
.formulario{
    width: 100%;
}
.titulo{
    font-size: 1.5rem;
    margin-bottom: -0.1rem;
    text-align: center;
}
#registro, #login, .proyecto{
    margin-left: 15%;
    width: 70%;
    text-align: center;
}
#registro input, #login input, .proyecto input{
    width: 19rem;
    height: 1.8rem;
    padding: 0.3rem;
    margin-top: 1.5rem;
    border-radius: 0.1rem;
}
#registro button, #login button, .proyecto button{
    margin-top: 1.5rem;
    background-color: white;
    border: 0.15rem solid #82c4f8;
    padding: 0.7rem;
    border-radius: 0.1rem;
}
#registro button:hover, #login button:hover, .proyecto button:hover{
    background-color: #82c4f8;
}
.footer{
    text-align: center;
    position: absolute;
    padding: 0.3rem 0;
    bottom: 0;
    background:  #2196f38f;
    width: 100%;
}