html{
    position: relative;
    min-height: 100%;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 15px;
    font-family: 'Questrial', sans-serif;
}
.portada{
    height: 50vh;
}
h2{
    text-align: center;
    padding: 2rem 0 0 0;
    line-height: 1.7;
    width: 70%;
    margin: 0rem 15%;
}
header{
    padding: 0 0 1rem 0;
    background: #2196f38f;    
}
.dropmenu{
    position: relative;
    display: inline-block;
    margin: 1rem 0.3rem 0 1.5rem;
}
.drop{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.drop a:hover {background-color: #f1f1f1}
.dropmenu:hover .drop {
    display: block;
}
.burguer{
    width: 20px;
    height: 2.5px;
    background-color: black;
    margin: 2.5px 0;
}
.logo{
    font-size: 1.2rem;
    display: inline-block;
    margin: 1rem 0.3rem 0 1.5rem;
    width: 20%;

}
.nav{
    float: left;
    margin: -1.1rem 1rem 0rem 0rem;
    position: absolute;
    right: 0;
    width: 90%;
}
#btnmenu{
    display: none;
}
.menu{
    display: flex;
    font-size: 0.9rem;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}

.menu li{
    padding-left: 0.9rem;
}
.menu li a:hover{
    color:gray;
}
a{
    text-decoration: none;
    color: black;
}
.caja{
    text-align: center;
    padding: 1rem;
    background: gainsboro;
    height: 15vh;
}
.caja p{
    margin: 1rem 0;
}
@media screen and (max-width:550px){
    .menu{
        display: none;
        margin-top: 1rem;
        margin-left: -5rem;
        background: #82c4f8a1;
        width: 110.5%;
    }
    .menu li{
        padding: 0.6rem;
    }
    #btnmenu{
        display: block;
    }
    #btnmenu:checked ~ .menu{
        display: block;
    }
}


/* FOOTER */
.footer{
    text-align: center;
    position: relative;
    padding: 0.3rem 0;
    bottom: 0;
    background:  #2196f38f;
    width: 100%;    
}
