html{
    position: relative;
    min-height: 100%;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 15px;
    font-family: 'Questrial', sans-serif;
}
.portada{
    height: 60vh;
}
h2{
    text-align: center;
    padding: 2rem 0 0 0;
    line-height: 1.7;
    width: 70%;
    margin: 0rem 15%;
}
header{
    padding: 0 0 1rem 0;
    background: #adff2fd6;
}
.logo{
    font-size: 1.2rem;
    display: inline-block;
    margin: 1rem 0.3rem 0 1.5rem;
    width: 10%;

}
.nav{
    float: left;
    margin: -1.1rem 1rem 0rem 0rem;
    position: absolute;
    right: 0;
    width: 90%;
}
.menu{
    display: flex;
    font-size: 0.9rem;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}

.menu li{
    padding-left: 0.9rem;
}
.menu li a:hover{
    color:gray;
}
a{
    text-decoration: none;
    color: black;
}
.caja{
    text-align: center;
    padding: 1rem;
    background: gainsboro;
}
.caja p{
    margin: 1rem 0;
}
.footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    background:  #aeff31;
    width: 100%;

}